<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <title>NoNiBlog - Administration</title>
    {{ style('bulma.min') }}
    {{ style('style_admin') }}
    @!section('css')
    @!section('js')
</head>

<body>
    <section class="hero is-dark is-small">
        <div class="hero-body">
            <p class="title">
                NoNiBlog - Administration
            </p>
        </div>
    </section>

    <section id="main-container">
        <div class="columns">
            <div class="column is-2">
                @include('Partials.SidebarAdmin')
            </div>
            <div class="column">
                @if(error)
                    <div class="notification is-danger">
                        <button class="delete"></button>
                        {{ error }}
                    </div>
                @endif
                @!section('content')
            </div>
        </div>
    </section>
</body>

</html>