<aside id="sidebar" class="menu">
    <ul class="menu-list">
        <li><a href="/">Retour blog</a></li>
    </ul>
    <p class="menu-label">
        Blog
    </p>
    <ul class="menu-list">
        <li><a href="/admin/posts">Articles</a></li>
    </ul>
    <p class="menu-label">
        Utilisateurs
    </p>
    <ul class="menu-list">
        <li><a href="/admin/users">Liste</a></li>
    </ul>
</aside>