@layout('LayoutAdmin')

@section('content')
<a href="/admin/posts/new" class="button is-primary">Nouveau post</a>
<br><br>
<table class="table is-fullwidth is-striped is-hoverable">
  <thead>
    <th>Pseudo</th>
    <th>Mail</th>
    <th>Admin</th>
    <th>Actions</th>
  </thead>
  @each(user in users)
    <tr>
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.is_admin }}</td>
      <td>Éditer / Supprimer</td>
    </tr>
  @endeach
</table>
@endsection