html, body {
  font-family: 'SegoeUI', sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
}

a {
  color: black;
  text-decoration: none;
}

#main-container {
  flex-grow: 1;
}

#main-container .columns {
  margin: 0;
  height: 100%;
}

#main-container .column.is-2 {
  padding: 0;
  min-height: 100%;
}

#sidebar {
  background-color: rgb(240, 240, 240);
  padding: 20px;
  min-height: 100%;
}

#preview {
  margin-top: 10px;
  border: 1px solid black;
  padding: 10px;
}